.current-listings{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: black;
    background-color: #F3FDFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
}

.topcontainer {
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 30px;
    margin-bottom: 5000px;
    background-color: #F3FDFF;
}

.navbar ul {
    list-style-type: none; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px; 
    margin-left: 2000px;
}


.navbar ul li {
    margin-left: 40px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
}

.logo{
    margin-top: 40px;
    margin-left: 40px;
    width: 100px;
}

.profile-picture{
    width: 90px;
    height: 90px;
    margin-left: 550px;
}

.profile-picture a {
    text-decoration: none; 
    color: black;
    margin-top: 40px;
  }
  

.logo img, .profile-picture img {
    max-width: 100%;
    height: auto;
}

.search-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px; /* Add margin-top to create space between navbar and dropdowns */
    margin-right: 2000px;
}

.search-container {
    background-color: #51B9E1; /* Blue background color */
    padding: 10px; /* Add padding inside the container */
    border-radius: 5px; /* Add border radius for rounded corners */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically */
}

.search-container select {
    margin-right: 10px; /* Add spacing between dropdowns */
}

.search-container button {
    background-color: white; /* White background for the button */
    color: #51B9E1; /* Blue text color for the button */
    border: none; /* Remove button border */
    padding: 5px 10px; /* Add padding inside the button */
    border-radius: 3px; /* Add border radius for rounded corners */
    cursor: pointer; /* Add pointer cursor on hover */
}

.search-container button:hover {
    background-color: #f0f0f0; /* Change background color on hover */
}


