.landing-page {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif; /* Add this line to change the font */
}

.landing-page h1{
    display: flex;
    margin: 10px;
    justify-content: flex-start;
}

.landing-page h2 {
    margin: 10px;
}

.button-contatiner {
    margin: 10px;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

