.current-listings {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background-color: #f3fdff;
  font-family: "Plus Jakarta Sans", Montserrat, sans-serif;
}

.topcontainer {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #f3fdff;
}

.navbar{
    width: 794px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin: 50px 0 30px 200px;
}
.navbar ul {
    background-color: #f3fdff;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-bottom: 400px;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navbar ul li:first-child{
    padding-left: 70px;
}

.navbar ul li:last-child{
    padding-right: 70px;
}

.logo {
  display: flex;
  height: 80px;
  width: 80px;
}

.profile-picture {
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 70px;
}

.profile-picture a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
}

.logo img,
.profile-picture img {
  max-width: 100%;
  height: auto;
}

.search-column {
  width: 35vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f3fdff;
}

.search-container {
  width: 100%;
  height: 65vh;
  background-color: #6cc2e8;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-container select {
    width: 100%;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: #b6edfa;
    border-radius: 10px;
    border: none;
    padding: 5px;
}

.search-container input{
    width: 100%;
    margin-right: 10px;
    background-color: #b6edfa;
    border-radius: 10px;
    border: none;
    padding: 5px;
}

.search-container button {
  width: 95%;
  background-color: #f3fdff;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
  margin-left: 10px;
}

.search-container button:hover {
  background-color: #f0f0f0;
}

.search-container label {
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: bold;
}

.desiredpropsearch {
  margin-top: 5px;
  width: 100%;
  background-color: #6cc2e8;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.desiredpropsearch button {
  border-radius: 10px;
  font-weight: bold;
  background-color: #B6EDFA;
}

.OR h3 {
  margin: 5px;
  font-weight: bold;
}

.search {
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.columns {
  display: flex;
  justify-content: space-around;
  background-color: #f3fdff;
  width: 90vw;
  height: 80vh;
  margin-top: 10px;
}

.search h3 {
  font-weight: bold;
  padding: 0px;
}

.listings-column {
  width: 60%;
  height: 85vh;
  display:flex;
  flex-direction: column;
  background-color: #f3fdff;
}

.Listings {
  color: #670F0F;
  display: flex;
  justify-content: center;
}

.Listings h3{
    font-weight: bold;
    padding-top: 5px;
}

.listings-container {
  height: 83.5%;
  background-color: #fccaca;
  border-radius: 15px;
  margin-left: 5px;
  display: grid;
  overflow: scroll;
  grid-template-columns: 50% 50%;
}

.chirpingText{
  width: 350px;
  margin-left: 180px;
  padding-top: 250px;
  font-weight: bold;
  font-size: 30px;
  color: #C84B4B;
  text-align: center; 
}

.amenities-container {
  display: flex;
}