.desired-property{
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  font-family: "Montserrat", sans-serif;
  flex-direction: column; 
  background-color: #F3FDFF;
  background-size: cover;
  background-position: center;
  height: 1024px;
  width: 1440px;
}
.header-section{
  padding-bottom: 20px;
}
.header {
  font-weight: bolder;
  font-size: 58px;
  margin: 0;
  color: #002224;
}
.dropdown-div {
  margin-top: 10px;
  width: 580px;
  height: 60px;
  background-color: #6CC2E8;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  margin-left: 10px;
}
.amenities{
  margin-top: 23.5px;
  height: 200px;
  background-color: #6CC2E8;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 580px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  margin-left: 10px;
}
.amenities-div{
  font-size: 24px;
  color: #F3FDFF;
  font-weight:bold;
  margin-right: 110px;
}
.amenities-1{
  margin-bottom: 23px;
}
.amenities-2{
  margin-bottom: 23px;
}
.location {
  font-size: 24px;
  color: #F3FDFF;
  font-weight:bold;
  margin-right: 150px;
}
.dropdown {
  width: 300px;
  height:40px;
  border-radius: 15px;
  padding-left: 10px;
  border-width: 0px;
  background-color: #C8F8FF;
  color: #1B3F43;
  font-weight: 700;
  font-size: 18px;
}
.distance{
  font-size: 24px;
  color: #F3FDFF;
  font-weight:bold;
  margin-right: 125px;
}
.room-count{
  font-size: 24px;
  color: #F3FDFF;
  font-weight:bold;
  margin-right: 80px;
}
.gfa{
  font-size: 24px;
  color: #F3FDFF;
  font-weight:bold;
  margin-right: 190px;
}
.generate-price{
  height:55px;
  width:350px;
  background-color:#002224;
  border-radius: 15px;
  color:#F3FDFF;
  font-size:28px;
  font-weight:bold;
  padding-top: 5px;
}
.generate-price:hover{
  transform: scale(0.97);
}
.generated-price-div{
  margin-top: 18px;
  width: 636px;
  height: 67px;
  background-color: #6CC2E8;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%; /* Ensure it takes the full width */
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
}
.generated-price-header{
  font-size: 24px;
  color: #F3FDFF;
  font-weight:bold;
  margin-right: 35px;
}
.estimated-price-div{
  width: 300px;
  height:45px;
  border-radius: 15px;
  padding-left: 0px;
  background-color: #C8F8FF;
  font-weight: 700;
  font-size: 18px;
  padding-top:10px;
  padding-right:200px;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%; /* Ensure it takes the full width */
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
}
.reconfigure{
  margin-right: 10px;
  margin-left:10px;
  height:55px;
  width:250px;
  background-color:#002224;
  border-radius: 15px;
  color:#F3FDFF;
  font-size:28px;
  font-weight:bold;
  padding-top: 5px;
}
.confirm{
  height:55px;
  width:250px;
  background-color:#002224;
  border-radius: 15px;
  color:#F3FDFF;
  font-size:28px;
  font-weight:bold;
  padding-top: 5px;
}
