.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}

.form {
  text-align: center;
  width: 50%;
  /* background-color: red; */
  /* color: #d6d3d1; */
}

.indivHouseListing {
  /* background-color: red; */
  text-align: center;
  border: solid;
}

.percentageMatchText {
  background-color: aquamarine;
}

.housesList {
  width: 50%;
  overflow: scroll;
}

.amenities {
  background-color: blanchedalmond;
}

.location {
  background-color: moccasin;
}

.roomCount {
  background-color: blanchedalmond;
}

.floorSpace {
  background-color: antiquewhite;
}
