.home {
    justify-content: center;
    display: flex;
    align-items: flex-start;
    font-family: 'Montserrat', sans-serif; 
    background-color: #F3FDFF;
    flex-direction: row;
    color:#F3FDFF;
}

.header{
    align-items: center;
    margin-top: 26px;
    margin-bottom: 18px;
    width:616px;
    height:47px;
    background-color: #F3FDFF;
    position: 'absolute';
    top: 'calc(100% + 10px)';
    left: 0;
}

.header-text{
    color:#68A2AB;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}

.navbar{
    align-items: center;
    flex:1;
}

.bottom{
    flex:8;
}

.blog{
    flex-direction: column;
    flex:1;
    width:616px;
    height:805px;
    background-color: #68A2AB;
    opacity: 80;
    border-radius: 25px;
}

.about-us{
    flex-direction: column;
    flex:1;
    width:616px;
    height:805px;
    background-color: #68A2AB;
    opacity: 0.8;
    border-radius: 25px;
}

.article-header{
    font-family: 'Plus Jakarta Sans', sans-serif; 
    font-weight: bolder;
    color: #F3FDFF;
    font-size: 28px;
}

.article-reg{ 
    background-color: #002224;
    opacity: 0.8;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 21px;
    width: 581px;
    height: 175px;
    align-items: center;
    margin: 18px;
    border-radius: 18px;
}

.article-small{ 
    background-color: #002224;
    opacity: 0.8;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 21px;
    width: 581px;
    height: 117;
    align-items: center;
    margin: 18px;
    border-radius: 18px;
}

.article-content{
    color: #BDBDBD;
    font-size: 16;
    font-weight: 500;
}

.about-us-content{
    color: #002224;
    font-weight: 550;
}