.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-color: #f3fdff;
    width: 1440px;
    height: 1024px;
    font-family: "Plus Jakarta Sans", Montserrat, sans-serif;
}

.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
}

.blog{
    background-color: #84B4BC;
    width: 616px;
    height: 805px;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
}

.header{
    background-color: #f3fdff;
}

.header-text{
    margin-top: 20px;
    font-size: 44px;
    color: #84B4BC;
    font-weight:bold;
}

.article-reg{
    justify-content: center;
    background-color: #002224;
    width:581px;
    height: 175px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.article-header{
    font-size: 28px;
    font-weight:bold;
    color:#f3fdff;
}

.article-content{
    color: #f3fdff;
}

.article-small{
    width: 581px;
    height: 117px;
    background-color: #002224;
}

.about-us{
    width: 616px;
    height: 805px;
    background-color: #84B4BC;
    border-radius: 25px;
}

.about-us-content{
    
}