.acct-details {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: black;
  background-color: #f3fdff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 20px;
  background-color: #6ecedd;
  padding-bottom: 10px;
  padding-top: 5px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.input-wrapper label {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 5px;
  margin-left: 30px;
  margin-right: 60px;
}

.input-wrapper input[type="text"] {
  border: none;
  background-color: #4ab3e2;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  margin-top: auto;
  height: 35px;
  width: 200px;
  margin-left: auto;
}

.profile-pic {
  margin-top: 70px;
  margin-bottom: 30px;
}

.links-wrapper {
  display: flex;
  justify-content: flex-end;
}

.link-wrapper-1 {
  color: white;
  background-color: #51b9e1;
  border-radius: 20px;
}

.link-wrapper-1 a {
  color: white !important; /* Ensure that the text color is white */
  font-weight: bold !important;
  text-decoration: none;
}

.link-wrapper-2 {
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  background-color: #6ecedd;
  width: 220px;
  padding: 3px;
}

.link-wrapper-2 a {
  color: white !important; /* Ensure that the text color is white */
  font-weight: bold !important;
}

.button button {
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  border-radius: 20px;
  background-color: #51b9e1;
  margin-top: 20px;
}

.button button:hover{
  background-color: #87cefa;
  border: none;
}

.link-wrapper-1 button{
  background-color: #51b9e1;
  border-radius: 20px;
  width: 260px;
}

.link-wrapper-1 button:hover{
  background-color: #87cefa;
  border: none;
}

