.compare {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background-color: #f3fdff;
  font-family: "Plus Jakarta Sans", Montserrat, sans-serif;
}

.overall-container {
  display: flex;
  width: 70vw;
  height: 65vh;
  background-color: #f3fdff;
}

.desired-prop-col {
  width: 45%;
  height: 100%;
}

.listing-col {
  width: 45%;
  height: 100%;
}

.search-container {
  padding:10px;
  width: 90%;
  height: 100%;
  margin-right: 20px;
  border-radius: 15px;
  background-color: #6cc2e8;
}

.search-container h3 {
  width: 100%;
  font-weight: bold;
  text-align: center;
}

.listing-info-container {
  width: 90%;
  height: 100%;
  margin-left: 20px;
  border-radius: 15px;
  background-color: #fccaca;
}

.listing-info-container h2 {
  font-size: 2rem;
  padding-top: 10px;
  padding-left: 10px;
  font-weight: bold;
  color: #670f0f;
}

.search h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #002224;
  margin-bottom: -5px;
}

.search-container span {
  padding-left: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 18px;
  font-weight: bold;
  color: #002224;
}

.save-button button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 6rem;
  margin-right: 11.5rem;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  color: white;
  background-color: #670f0f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.save-button button img {
  width: 40px;
  height: 40px;
  padding: 0px;
  margin: 0px;
}

.AI-output {
  width: 70vw;
  height: 20%vh;
  border: 2px solid black;
  margin-left: 7px;
  text-align: center;
  padding-top: 60px;
}

.prompt {
  position: absolute;
  right: 0;
  background-color: #bd5084;
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
}

.label{
  background-color: #002224;
  width: 490px;
  height: 30px;
  border-radius: 8px;
  color: #f3fdff;
  font-size: 18px;
  padding-left: 10px;
  padding-top: 1px;
  font-weight: bold;
  margin-top: 10px;
}

.amenities-section {
  display:flex;
  flex-direction: column;
  margin-left:8px;
  font-size: 15px;
  font-weight: 550;
  color: #002224;
}

.label-1{
  background-color: #002224;
  width: 490px;
  height: 30px;
  border-radius: 8px;
  color: #f3fdff;
  font-size: 18px;
  padding-left: 10px;
  padding-top: 1px;
  font-weight: bold;
  margin-top: 80px;
}