.current-listings {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background-color: #f3fdff;
  font-family: "Plus Jakarta Sans", Montserrat, sans-serif;
}

.topcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3fdff;
  padding-left: 20px;
  padding-right:30px;
}

.search-column {
  width: 35vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f3fdff;
  margin-left: 40px;
}

.search-container-current-listings {
  width: 100%;
  height: 70vh;
  background-color: #6cc2e8;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-container-current-listings select {
    width: 100%;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: #b6edfa;
    border-radius: 10px;
    border: none;
    padding: 5px;
}

.search-container-current-listings input{
    width: 100%;
    margin-right: 10px;
    background-color: #b6edfa;
    border-radius: 10px;
    border: none;
    padding: 5px;
}

.search-container-current-listings button {
  width: 100%;
  background-color: #f3fdff;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
  margin-left: 0px;
}

.search-container-current-listings button:hover {
  background-color: #f0f0f0;
}

.search-container-current-listings label {
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: bold;
}

.desiredpropsearch {
  width: 100%;
  background-color: #6cc2e8;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.desiredpropsearch button {
  border-radius: 10px;
  font-weight: bold;
  background-color: #B6EDFA;
}

.OR h3 {
  margin: 5px;
  font-weight: bold;
}

.search {
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.columns {
  display: flex;
  justify-content: space-around;
  background-color: #f3fdff;
  width: 90vw;
  height: 83vh;
  margin-top: 10px;
}

.search h3 {
  font-weight: bold;
  padding: 0px;
}

.listings-column {
  width: 50%;
  height: 83.5vh;
  display:flex;
  flex-direction: column;
  background-color: #f3fdff;
  margin-right: 40px;
}

.Listings {
  color: #670F0F;
  display: flex;
  justify-content: center;
}

.Listings h3{
    font-weight: bold;
    padding-top: 5px;
}

.listings-container {
  height: 700px;
  background-color: #fccaca;
  border-radius: 15px;
  margin-left: 5px;
  display: grid;
  overflow: scroll;
  grid-template-columns: 50% 50%;
}

.chirpingText{
  width: 350px;
  margin-left: 150px;
  padding-top: 250px;
  font-weight: bold;
  font-size: 30px;
  color: #C84B4B;
  text-align: center; 
}

.amenities-container {
  display: flex;
  padding: 0px;
  margin-bottom: 0px;
}