.reset-password img {
  width: 100px;
  height: 100px;
  margin: 30px 0 10px 0;
}

.reset-password h1 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 80px;
}

.reset-password h2 {
  font-weight: 550;
}

.reset-password form .input-wrapper {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #6ecedd;
  padding-bottom: 10px;
  padding-top: 5px;
  padding-right: 10px;
  justify-content: space-around;
  margin: 30px;
  margin-bottom: 10px;
}

.reset-password form .input-wrapper label {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 5px;
  margin-left: 30px;
  margin-right: 30px;
}

.reset-password form input[type="text"] {
  border: none;
  background-color: #4ab3e2;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  margin-top: 5px;
  height: 35px;
  padding-left: 10px;
}

.reset-password {
  background-color: #f3fdff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
}

.reset-password form button {
  font-weight: bold;
  font-size: 25px;
  padding: 5px 20px;
  margin-left: 115px;
  background-color: #51b9e1;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reset-password form button:hover {
  background-color: #6ecedd;
}

.reset-password form input:focus {
  outline: none;
}

.error-msg {
  color: red;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
