.listing-details {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background-color: #f3fdff;
  font-family: "Plus Jakarta Sans", Montserrat, sans-serif;
}

.infoContainer {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  width: 70vw;
  height: 75vh;
  background-color: #fccaca;
  border-radius: 15px;
  overflow: scroll;
}

.compareButton button {
  height: 60px;
  width: 250px;
  font-weight: bold;
  background-color: #670f0f;
  color: white;
  margin-top: 10px;
  border-radius: 15px;
  font-size: 30px;
  text-align: center;
  padding-top: 7px;
}

.imgColumn {
  width: 35vw;
  padding-left: 40px;
  padding-top: 40px;
  border-radius: 15px;
}

.textColumn {
  width: 35vw;
}

.field h3 {
  background-color: #670f0f;
  color: white;
  border-radius: 15px;
  font-weight: bold;
  padding: 4px;
  padding-left: 10px;
  font-size: 15px;
  margin: 10px;
}

.data {
  padding-left: 20px;
  padding-bottom: 0px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #670f0f;
}

.percentage-match-bubble {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: #55830d;
  color: white;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  font-size: 32px;
  position: absolute;
  margin-top: 6.5rem;
  margin-right: 60rem;
}

.imgprojectname {
  font-weight: bold;
  margin-top: 10px;
  color: #670f0f;
}

.imgaddress {
  font-weight: bold;
  font-size: 1.25rem;
  color: #670f0f;
}
