.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3fdff;
    padding-left: 20px;
    padding-right:30px;
    padding-top: 35px;
    padding-bottom: 60px;
    width: 100vw;
}

.navbar ul {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap; /* Prevent line breaks */
    margin-left: 280px;
    margin-top: 5rem;
}

.navbar ul li {
    display: inline;
    margin-left: 60px;
}

.navbar ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #002224;
}

.logo {
    display: flex;
    height: 80px;
    width: 80px;
    margin-top: 20px;
    margin-left: 40px;
}

.profile-picture {
    position: absolute;
    margin-left: 82rem;
    margin-top: 1.75rem;
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 70px;
}

.profile-picture a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
}
