.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3fdff;
    padding-left: 20px;
    padding-right:30px;
    padding-top: 50px;
    width: 100vw;
}

.navbar {
    padding: 10px 20px;
    color: white;
    margin-left: 100px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap; /* Prevent line breaks */
}

.navbar ul li {
    display: inline;
    margin-left: 10px;
    margin-left: 100px;
}

.navbar ul li a {
    text-decoration: none;
    color: #002224;
    margin-left: 20px;
    margin-top: 20px;
}

.logo {
    display: flex;
    height: 80px;
    width: 80px;
    margin-top: 40px;
    margin-left: 40px;
}

.profile-picture {
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 70px;
    margin-left: 150px;
}

.profile-picture a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
}
